@import "../../styles/variables";

.category {
  padding: $base-padding;

  h2 {
    padding: $base-padding;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: $base-padding;
  }
}
